.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
obj/
src/bin/
build/
bin/
packages/
paket-files/
node_modules/
publish/
extra/
extra/**/*
release.cmd
release.sh
*.orig
*.DotSettings.user
appsettings.Development.json
.DS_Store
**/**/*.fs.js
