@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-indigo {
        @apply py-2 px-4 bg-blue-800 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .btn-light-indigo {
        @apply py-[0.35rem] px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    /* a wee hack so we don't have to add all kinds of plugin horseshit to our datagrid */
    .fr-history tbody tr:nth-of-type(odd) {
        @apply bg-bgray-50
    }

    .img-preview {
        overflow: hidden;
    }

}
